
@{
    ViewBag.Title = "Index";
}

@{
    Layout = null;
}

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<!-- Custom CSS -->
<link href="~/css/style.css" rel='stylesheet' type='text/css' />
<!-- Graph CSS -->
<link href="~/css/font-awesome.css" rel="stylesheet">
<!-- jQuery -->
<link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
<!-- lined-icons -->
<link rel="stylesheet" href="~/css/icon-font.min.css" type='text/css' />
<!-- //lined-icons -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="error_page">
    <!--/login-top-->
    @using (Html.BeginForm("LoginWithGooglePlus", "Login"))
    {
        @Html.AntiForgeryToken()
        <div class="error-top">
            <h2 class="inner-tittle page">Management</h2>
            <div class="login">
                <h3 class="inner-tittle t-inner">Login</h3>
                <div class="alert alert-danger hide" id="error"></div>
                <form>
                    <input type="text" class="text" autocomplete="off" value="E-mail address" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
                    <input type="password" value="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                    <div class="btn btn-success" id="login">Login</div>
                    <button class="btn btn-danger" type="submit" id="loginGoogle"><i class="fa fa-google-plus"></i>Login with Google +</button>
                    <div class="clearfix"></div>

                    <div class="new">
                        <p><label class="checkbox11"><input type="checkbox" name="checkbox"><i> </i>Forgot Password ?</label></p>
                        <p class="sign">Do not have an account ? @Html.ActionLink("Sign Up", "Register", "Account")</p>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>
        </div>
    }

    <!--//login-top-->
</div>
<script>
    $(document).ready(function () {

        $("#error").hide();

        $("#login").on("click", function () {
            var email = $("input[name='email']").val();
            console.log(email);
            var password = $("input[name='Password']").val();
            var token = $('[name=__RequestVerificationToken]').val();
            setTimeout(function () {
                $.ajax({
                    url: "/Login/Login",
                    method: "POST",
                    dataType:"Json",
                    data: { __RequestVerificationToken: token, email: email, password: password },
                    success: function (data) {
                        if (data.status == false) {
                            $("#error").html(data.message);
                            $("#error").show();
                            return;
                        }
                        else {
                            window.location = "http://localhost:56173";
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                });
            },
                1000);

        });
    })
</script>
